@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta conditions="" />*/

body
{
	font-size: 8pt;
	font-family: Verdana, Arial, sans-serif;
	background-color: #f9f9f9;
}

h1
{
	font-weight: bold;
	font-size: 11pt;
	font-family: Arial, sans-serif;
	margin-top: 8pt;
	margin-bottom: 8pt;
	color: #000000;
	text-transform: none;
}

li.mc-H1
{
	font-weight: bold;
	font-size: 11pt;
	font-family: Arial, sans-serif;
	color: #000000;
	text-transform: none;
}

h2
{
	font-weight: bold;
	font-size: 10pt;
	color: #000000;
	text-transform: none;
	margin-top: 16pt;
	margin-bottom: 10pt;
}

li.mc-H2
{
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial, sans-serif;
	color: #000000;
	text-transform: none;
}

h3
{
	font-weight: bold;
	color: #000000;
	text-transform: none;
	font-size: 9pt;
	margin-top: 14pt;
	margin-bottom: 10pt;
}

li.mc-H3
{
	font-weight: bold;
	color: #000000;
	text-transform: none;
	font-size: 9pt;
}

h4
{
	font-weight: bold;
	font-size: 8pt;
	color: #000000;
	text-transform: none;
	margin-top: 12pt;
	margin-bottom: 10pt;
}

li.mc-H4
{
	font-weight: bold;
	font-size: 8pt;
	color: #000000;
	text-transform: none;
}

h5
{
	font-size: 8pt;
	font-style: italic;
	font-weight: normal;
	margin-top: 8pt;
	margin-bottom: 8pt;
	color: #000000;
}

li.mc-H5
{
	font-size: 8pt;
	font-style: italic;
	font-weight: normal;
	color: #000000;
}

h6
{
	font-size: 8.0pt;
	font-weight: normal;
	font-style: normal;
	margin-top: 8pt;
	margin-bottom: 8pt;
	color: #000000;
}

li.mc-H6
{
	font-size: 8.0pt;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

p
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin-bottom: 5pt;
	margin-top: 5pt;
	font-size: 8pt;
}

li
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-size: 8pt;
}

a.expandspot
{
	cursor: hand;
	color: #0000ff;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

span.expandtext
{
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

a.dropspot
{
	cursor: hand;
	color: #0000ff;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

a.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

span.glosstext
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

li.Bullets
{
	font-size: 8pt;
	color: #000000;
	margin-top: 8pt;
	margin-bottom: 8pt;
	list-style: disc;
	margin-left: -6pt;
}

p.Numbers
{
	font-size: 8pt;
	color: #000000;
	margin-left: -5pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	list-style: decimal;
}

li.Numbers
{
	font-size: 8pt;
	color: #000000;
	margin-left: -5pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	list-style: decimal;
}

p.Notices
{
	font-size: 8pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 7pt;
	margin-right: 7pt;
	mc-next-tag: p;
	color: #800000;
}

p.LineNote
{
	margin-left: 12pt;
}

p.ListNotice
{
	font-size: 8pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-right: 7pt;
	margin-left: 25pt;
	color: #800000;
}

p.ListDesc
{
	margin-left: 25pt;
}

li.ListBullets
{
	font-size: 8pt;
	color: #000000;
	margin-top: 8pt;
	margin-bottom: 8pt;
	list-style: disc;
	margin-left: 12pt;
}

a:hover
{
	color: #3265ff;
}

p.NumbersSubLetters
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	list-style: lower-alpha;
	margin-left: 12pt;
}

li.NumbersSubLetters
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	list-style: lower-alpha;
	margin-left: 12pt;
}

p.ListNoteSub
{
	margin-right: 7pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 42pt;
	color: #800000;
}

p.ListDescSub
{
	margin-left: 42pt;
}

li.ListSubBullet
{
	list-style: disc;
	margin-left: 25pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	list-style-type: circle;
	list-style-image: url('../../00CmnUse/BulletSubImage.bmp');
}

li.UpperLetters
{
	margin-left: -5pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	list-style: upper-alpha;
}

p.Example
{
	margin-bottom: 0pt;
	font-size: 8pt;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	margin-top: 4.5pt;
}

p.ListExample
{
	margin-bottom: 0pt;
	font-size: 8pt;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	margin-top: 4.5pt;
	margin-left: 25pt;
}

div.droptext
{
	
}

p.ListDescSubSub
{
	margin-left: 80px;
}

li.BulletSub
{
	list-style: circle;
	margin-bottom: 5pt;
	margin-top: 5pt;
	margin-left: 18pt;
}

p.BullNotice
{
	margin-right: 7pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 24pt;
	color: #800000;
}

li.SubSubBullet
{
	margin-left: 3pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	list-style: square;
}

p.BullSubDesc
{
	margin-left: 68px;
}

p.ListBullDesc
{
	margin-left: 42pt;
}

p.ListBullNote
{
	margin-left: 38pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	color: #800000;
}

p.BullSubNote
{
	margin-right: 7pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 52pt;
	color: #800000;
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	color: #0000ff;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	color: #0000ff;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	font-weight: normal;
	font-style: normal;
	color: #0000ff;
}

MadCap|glossaryTerm.glossterm
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingBody.glossterm
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

li.List2ndBullets
{
	font-size: 8pt;
	color: #000000;
	margin-top: 8pt;
	margin-bottom: 8pt;
	list-style: disc;
	list-style-type: disc;
	margin-left: 8pt;
}

ol
{
	margin-bottom: 3px;
	margin-right: 3px;
}

li.NumbersSubSubRomans
{
	color: #000000;
	font-size: 8pt;
	list-style-type: lower-roman;
	list-style: lower-roman;
	font-style: inherit;
	margin-left: 24pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

p.ListNotSubSub
{
	margin-left: 80px;
	color: #800000;
}

p.Important
{
	font-size: 10pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
}

p.Centered
{
	text-align: center;
}

p.RightAligned
{
	text-align: right;
}

p.LeftAligned
{
	text-align: left;
}

li.BulletsClear
{
	font-size: 8pt;
	margin-bottom: 5pt;
	margin-left: -8pt;
	margin-top: 5pt;
	list-style-type: circle;
	list-style: circle;
}

p.Code
{
	font-size: 10pt;
	font-family: "Courier New", monospace;
}

p.CodeSub
{
	font-size: 10pt;
	font-family: "Courier New", monospace;
	margin-left: 40px;
}

li.ListSubSubBullet
{
	margin-top: 4pt;
	list-style-type: square;
	margin-left: 36pt;
}

td.GreyBackground
{
	background-color: #a9a9a9;
}

p.ListNotSubSubBul
{
	color: #800000;
	margin-left: 95px;
}

p.Caption
{
	font-family: Verdana, Arial, sans-serif;
	font-style: normal;
	color: #000000;
	margin-bottom: 5pt;
	margin-top: 5pt;
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
}

li.ListSquareBullets
{
	font-size: 8pt;
	color: #000000;
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 12pt;
	list-style: square;
}

p.ListBullSubDesc
{
	margin-left: 48pt;
}

div.BkgImg
{
	
}

p.AdroitHeading
{
	margin-bottom: 5pt;
	margin-top: 5pt;
	font-weight: bold;
	font-style: normal;
	font-size: 20pt;
	color: #b22222;
	font-family: Arial;
}

@media print
{
	h1
	{
		page-break-before: avoid;
	}

	img.Border
	{
		page-break-before: avoid;
		page-break-inside: avoid;
		orphans: 3;
		widows: 3;
		column-break-before: avoid;
		column-break-inside: avoid;
	}

	p
	{
		orphans: 5;
		widows: 5;
	}

	li
	{
		orphans: 3;
		widows: 3;
	}

	div
	{
		
	}

	div.TextAndImage
	{
		page-break-before: always;
		orphans: 15;
		widows: 15;
	}
}

p.LineIndented
{
	margin-left: 8pt;
}

li.BulletSubSub
{
	margin-top: 4pt;
	list-style-type: square;
	margin-left: 36pt;
}

img.Border
{
	padding: 5mm;
	border-bottom-color: #a3a3a3;
	border: solid 2px #bebebe;
}

span.TODO
{
	color: #ff00ff;
	font-weight: bold;
	font-size: 14pt;
}

li.BulletSquare
{
	font-size: 8pt;
	color: #000000;
	margin-top: 8pt;
	margin-bottom: 8pt;
	list-style: square;
	margin-left: -8pt;
}

