/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableHead_List Enclosure;
	border-collapse: collapse;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-bottom-color: #a9a9a9;
	margin-top: 0px;
	max-id: 5;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	background-color: #f5f5f5;
}

mcTableColumnStyle
{
	span: 1;
	background-color: #ffffff;
	name: Column1;
	id: 0;
	color: #000000;
}

mcTableHeadStyle
{
	span: 0;
	name: Header1;
	id: 4;
}

mcTableBodyStyle
{
	span: 1;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #808080;
	name: Body1;
	id: 2;
}

mcTableFootStyle
{
	span: 0;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 5;
}


/* Cell Styles: */
 
.TableStyle-TableHead_List_Enclosure
{
	border-collapse: collapse;
	background-color: #f5f5f5;
	border-top-style: solid;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	margin-top: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-TableHead_List_Enclosure-Column-Column1
{
	
}

.TableStyle-TableHead_List_Enclosure-Head-Header1
{
	
}

.TableStyle-TableHead_List_Enclosure-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-HeadI-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-HeadE-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-HeadF-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-HeadH-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-HeadD-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-HeadC-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-HeadB-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-HeadA-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-HeadG-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-Foot-Footer1
{
	
}

.TableStyle-TableHead_List_Enclosure-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-FootI-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_List_Enclosure-FootE-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_List_Enclosure-FootF-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-FootH-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_List_Enclosure-FootD-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-FootC-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-FootB-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-FootA-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-FootG-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-Body-Body1
{
	
}

.TableStyle-TableHead_List_Enclosure-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-BodyI-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-BodyE-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-BodyF-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-BodyH-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-BodyD-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-BodyC-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-BodyB-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-BodyA-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_List_Enclosure-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_List_Enclosure-BodyG-Column1-Body1 p
{
	color: #000000;
}


