/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: AdTechHorizTableStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	type: Header;
	background-color: #c0c0c0;
	text-align: center;
	vertical-align: middle;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-AdTechHorizTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-AdTechHorizTableStyle .Column-Column1
{
	
}

.TableStyle-AdTechHorizTableStyle .Column-Column2
{
	
}

.TableStyle-AdTechHorizTableStyle .Head-Header1
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadI-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .HeadI-Column1-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadE-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadE-Column1-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadF-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadF-Column1-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadH-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadH-Column1-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadD-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadD-Column1-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadC-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .HeadC-Column1-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadB-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadB-Column1-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadA-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .HeadA-Column1-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadG-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .HeadG-Column1-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadI-Column2-Header1
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadI-Column2-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadE-Column2-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadF-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadF-Column2-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadH-Column2-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadD-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadD-Column2-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadC-Column2-Header1
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadC-Column2-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .HeadB-Column2-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadA-Column2-Header1
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadA-Column2-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadG-Column2-Header1
{
	
}

.TableStyle-AdTechHorizTableStyle .HeadG-Column2-Header1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .Foot-Footer1
{
	
}

.TableStyle-AdTechHorizTableStyle .FootI-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .FootI-Column1-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootE-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootE-Column1-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootF-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootF-Column1-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootH-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootH-Column1-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootD-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootD-Column1-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootC-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .FootC-Column1-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootB-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootB-Column1-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootA-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .FootA-Column1-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootG-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .FootG-Column1-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootI-Column2-Footer1
{
	
}

.TableStyle-AdTechHorizTableStyle .FootI-Column2-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootE-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootE-Column2-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootF-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootF-Column2-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootH-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootH-Column2-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootD-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootD-Column2-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootC-Column2-Footer1
{
	
}

.TableStyle-AdTechHorizTableStyle .FootC-Column2-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootB-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .FootB-Column2-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootA-Column2-Footer1
{
	
}

.TableStyle-AdTechHorizTableStyle .FootA-Column2-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .FootG-Column2-Footer1
{
	
}

.TableStyle-AdTechHorizTableStyle .FootG-Column2-Footer1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .Body-Body1
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyI-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .BodyI-Column1-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .BodyE-Column1-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .BodyF-Column1-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyH-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .BodyH-Column1-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .BodyD-Column1-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyC-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .BodyC-Column1-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyB-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .BodyB-Column1-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyA-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .BodyA-Column1-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyG-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-AdTechHorizTableStyle .BodyG-Column1-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyI-Column2-Body1
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyI-Column2-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyE-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .BodyE-Column2-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyF-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechHorizTableStyle .BodyF-Column2-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyH-Column2-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .BodyH-Column2-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyD-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechHorizTableStyle .BodyD-Column2-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyC-Column2-Body1
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyC-Column2-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyB-Column2-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechHorizTableStyle .BodyB-Column2-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyA-Column2-Body1
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyA-Column2-Body1 p
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyG-Column2-Body1
{
	
}

.TableStyle-AdTechHorizTableStyle .BodyG-Column2-Body1 p
{
	
}


