/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: AdTechBasicTableStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	vertical-align: middle;
	text-align: center;
	type: Header;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	separator-style: solid;
	separator-width: 1px;
	text-align: left;
	vertical-align: middle;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #a9a9a9;
	text-align: center;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: center;
	vertical-align: middle;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-AdTechBasicTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-AdTechBasicTableStyle-Column-Column1
{
	
}

.TableStyle-AdTechBasicTableStyle-Column-Column2
{
	
}

.TableStyle-AdTechBasicTableStyle-Head-Header1
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadI-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadI-Column1-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechBasicTableStyle-HeadE-Column1-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadF-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechBasicTableStyle-HeadF-Column1-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadH-Column1-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadD-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechBasicTableStyle-HeadD-Column1-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadC-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadC-Column1-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadB-Column1-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadA-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadA-Column1-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadG-Column1-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadG-Column1-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadI-Column2-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadI-Column2-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechBasicTableStyle-HeadE-Column2-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadF-Column2-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechBasicTableStyle-HeadF-Column2-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadH-Column2-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadD-Column2-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-AdTechBasicTableStyle-HeadD-Column2-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadC-Column2-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadC-Column2-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadB-Column2-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadA-Column2-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadA-Column2-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-HeadG-Column2-Header1
{
	text-align: center;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-AdTechBasicTableStyle-HeadG-Column2-Header1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-Foot-Footer1
{
	
}

.TableStyle-AdTechBasicTableStyle-FootI-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootE-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootF-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootH-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootD-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootC-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootB-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootA-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootG-Column1-Footer1
{
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootI-Column2-Footer1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-FootI-Column2-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootE-Column2-Footer1
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootE-Column2-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootF-Column2-Footer1
{
	text-align: left;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootF-Column2-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootH-Column2-Footer1
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootH-Column2-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootD-Column2-Footer1
{
	text-align: left;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootD-Column2-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootC-Column2-Footer1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-FootC-Column2-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootB-Column2-Footer1
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-FootB-Column2-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootA-Column2-Footer1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-FootA-Column2-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-FootG-Column2-Footer1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-FootG-Column2-Footer1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-Body-Body1
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyI-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyH-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyC-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyB-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyA-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyG-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyI-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyI-Column2-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyE-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-BodyE-Column2-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyF-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyF-Column2-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyH-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-BodyH-Column2-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyD-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyD-Column2-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyC-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyC-Column2-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyB-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-AdTechBasicTableStyle-BodyB-Column2-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyA-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyA-Column2-Body1 p
{
	
}

.TableStyle-AdTechBasicTableStyle-BodyG-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-AdTechBasicTableStyle-BodyG-Column2-Body1 p
{
	
}


