/* MadCap Table Style: */

/*<meta Version="9" conditions="" />*/

mcTableStyle
{
	name: TableHeadAqua_CoolGrayList;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-spacing-x: 3;
	border-left-color: #003399;
	border-right-color: #003399;
	border-top-color: #003399;
	border-bottom-color: #003399;
	margin-bottom: 10px;
	margin-top: 10px;
	max-id: 7;
	border-spacing-y: 3;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	size: 245px;
	background-color: #dcdcdc;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	color: #000000;
	cell-padding-top: 3px;
	cell-padding-bottom: 4px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column2;
	id: 1;
	text-align: left;
	vertical-align: top;
	color: #000000;
	cell-padding-top: 3px;
	cell-padding-bottom: 4px;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column3;
	color: #000000;
	text-align: left;
	vertical-align: top;
	cell-padding-top: 3px;
	cell-padding-bottom: 4px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #003399;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	text-align: left;
	name: Header1;
	id: 4;
	vertical-align: middle;
	size: 16px;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Body2;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	cell-padding-bottom: 4px;
	cell-padding-top: 3px;
}

mcTableFootStyle
{
	span: 0;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 5;
}


/* Cell Styles: */
 
.TableStyle-TableHeadAqua_CoolGrayList
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #003399;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #003399;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #003399;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #003399;
	border-bottom-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 3px 3px;
}

.TableStyle-TableHeadAqua_CoolGrayList-Column-Column1
{
	width: 245px;
}

.TableStyle-TableHeadAqua_CoolGrayList-Column-Column2
{
	
}

.TableStyle-TableHeadAqua_CoolGrayList-Column-Column3
{
	
}

.TableStyle-TableHeadAqua_CoolGrayList-Head-Header1
{
	height: 16px;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadI-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadE-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadF-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadH-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadD-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadC-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadB-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadA-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadG-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadI-Column2-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadI-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadE-Column2-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadE-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadF-Column2-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadF-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadH-Column2-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadH-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadD-Column2-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadD-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadC-Column2-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadC-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadB-Column2-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadB-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadA-Column2-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadA-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadG-Column2-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadG-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadI-Column3-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadI-Column3-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadE-Column3-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadE-Column3-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadF-Column3-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadF-Column3-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadH-Column3-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadH-Column3-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadD-Column3-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadD-Column3-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadC-Column3-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadC-Column3-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadB-Column3-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadB-Column3-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadA-Column3-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadA-Column3-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadG-Column3-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #003399;
}

.TableStyle-TableHeadAqua_CoolGrayList-HeadG-Column3-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TableHeadAqua_CoolGrayList-Foot-Footer1
{
	
}

.TableStyle-TableHeadAqua_CoolGrayList-FootI-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootI-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootE-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootE-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootF-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootF-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootH-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootH-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootD-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootD-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootC-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootC-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootB-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootB-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootA-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootA-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootG-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootG-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootI-Column2-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootI-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootE-Column2-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootE-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootF-Column2-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootF-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootH-Column2-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootH-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootD-Column2-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootD-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootC-Column2-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootC-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootB-Column2-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootB-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootA-Column2-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootA-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootG-Column2-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootG-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootI-Column3-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootI-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootE-Column3-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootE-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootF-Column3-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootF-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootH-Column3-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootH-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootD-Column3-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootD-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootC-Column3-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootC-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootB-Column3-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootB-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootA-Column3-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootA-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootG-Column3-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-FootG-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-Body-Body2
{
	
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyI-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyI-Column1-Body2 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyE-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyE-Column1-Body2 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyF-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyF-Column1-Body2 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyH-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyH-Column1-Body2 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyD-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyD-Column1-Body2 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyC-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyC-Column1-Body2 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyB-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyB-Column1-Body2 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyA-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyA-Column1-Body2 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyG-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyG-Column1-Body2 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyI-Column2-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyI-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyE-Column2-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyE-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyF-Column2-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyF-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyH-Column2-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyH-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyD-Column2-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyD-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyC-Column2-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyC-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyB-Column2-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyB-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyA-Column2-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyA-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyG-Column2-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyG-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyI-Column3-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyI-Column3-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyE-Column3-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyE-Column3-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyF-Column3-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyF-Column3-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyH-Column3-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyH-Column3-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyD-Column3-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyD-Column3-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyC-Column3-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyC-Column3-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyB-Column3-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyB-Column3-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyA-Column3-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyA-Column3-Body2 p
{
	color: #000000;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyG-Column3-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f5f5f5;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 4px;
}

.TableStyle-TableHeadAqua_CoolGrayList-BodyG-Column3-Body2 p
{
	color: #000000;
}


