<?xml version="1.0" encoding="utf-8"?>
<HelpSystem DefaultUrl="05Dply/50Cfg/05_50_2000_CfgEdt.htm" Alias="Content/Data/Alias.xml" PathToScriptsFolder="Resources/Scripts/" Skin="Data/SkinAdroitConfigNOINDEX/Skin.xml" Multilingual="false" Skins="AdroitConfigNOINDEX" BuildTime="8/28/2018 12:18:37 PM" BuildVersion="13.2.6355.27565" TargetType="HtmlHelp" SkinTemplateFolder="Skin/" InPreviewMode="false" MoveOutputContentToRoot="false" ReplaceReservedCharacters="false" MakeFileLowerCase="false" UseCustomTopicFileExtension="false" PreventExternalUrls="false" EnableResponsiveOutput="false" IncludeGlossarySearchResults="true" ResultsPerPage="20" xml:lang="en-us" LanguageName="English" SearchEngine="MadCapSearch" />