/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Adroit10BasicTableStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #808080;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #808080;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	max-id: 6;
	border-spacing-y: 2;
	border-spacing-x: 2;
	cell-padding-left: 5px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	margin-left: 25px;
	cell-padding-right: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	name: Column1;
	id: 0;
	vertical-align: top;
	text-align: left;
	type: Header;
	size: 250px;
	font-weight: bold;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	separator-style: solid;
	separator-width: 1px;
	text-align: left;
	vertical-align: top;
	separator-color: #808080;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	name: Header1;
	id: 2;
	background-color: #a9a9a9;
	text-align: left;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	name: Body1;
	id: 1;
	vertical-align: top;
	cell-padding-top: 2px;
	cell-padding-bottom: 5px;
	text-align: left;
	background-color: #faf8f8;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Body2;
	background-color: #efeded;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	text-align: left;
	vertical-align: top;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Adroit10BasicTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #808080;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #808080;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #808080;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 1px;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 2px 2px;
}

.TableStyle-Adroit10BasicTableStyle-Column-Column1
{
	width: 250px;
}

.TableStyle-Adroit10BasicTableStyle-Column-Column2
{
	
}

.TableStyle-Adroit10BasicTableStyle-Head-Header1
{
	
}

.TableStyle-Adroit10BasicTableStyle-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadI-Column2-Header1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-HeadE-Column2-Header1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-HeadF-Column2-Header1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadH-Column2-Header1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-HeadD-Column2-Header1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadC-Column2-Header1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadB-Column2-Header1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadA-Column2-Header1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10BasicTableStyle-HeadG-Column2-Header1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-Foot-Footer1
{
	
}

.TableStyle-Adroit10BasicTableStyle-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-FootI-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootE-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootF-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootH-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootD-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-FootC-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootB-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-FootA-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-FootG-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-FootI-Column2-Footer1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootE-Column2-Footer1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootF-Column2-Footer1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootH-Column2-Footer1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootD-Column2-Footer1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-FootC-Column2-Footer1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-FootB-Column2-Footer1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-FootA-Column2-Footer1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-FootG-Column2-Footer1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-Body-Body1
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyI-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyE-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyF-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyH-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyD-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyC-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyB-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyA-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyG-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyI-Column2-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyE-Column2-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyF-Column2-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyH-Column2-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyD-Column2-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyC-Column2-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyB-Column2-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyA-Column2-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyG-Column2-Body1
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #faf8f8;
	padding-top: 2px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyG-Column2-Body1 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-Body-Body2
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyI-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyE-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyF-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyH-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyD-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyC-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyB-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyA-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyG-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Adroit10BasicTableStyle-BodyI-Column2-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyI-Column2-Body2 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyE-Column2-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyE-Column2-Body2 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyF-Column2-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyF-Column2-Body2 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyH-Column2-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyH-Column2-Body2 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyD-Column2-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyD-Column2-Body2 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyC-Column2-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyC-Column2-Body2 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyB-Column2-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Adroit10BasicTableStyle-BodyB-Column2-Body2 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyA-Column2-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyA-Column2-Body2 p
{
	
}

.TableStyle-Adroit10BasicTableStyle-BodyG-Column2-Body2
{
	padding-left: 5px;
	padding-right: 2px;
	background-color: #efeded;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Adroit10BasicTableStyle-BodyG-Column2-Body2 p
{
	
}


