/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Adroit10Single-Tip;
	border-collapse: collapse;
	max-id: 6;
	border-spacing-y: 0;
	border-spacing-x: 0;
	cell-padding-left: 50px;
	cell-padding-top: 20px;
	cell-padding-bottom: 20px;
	margin-left: 10px;
	cell-padding-right: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	vertical-align: top;
	text-align: left;
	type: Automatic;
	size: 95%;
	cell-padding-right: 100px;
	cell-padding-left: 50px;
	cell-padding-top: 15px;
	cell-padding-bottom: 15px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	name: Body1;
	id: 1;
	vertical-align: top;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	text-align: left;
	background-color: #f1faf5;
}


/* Cell Styles: */
 
.TableStyle-Adroit10Single-Tip
{
	border-collapse: collapse;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Adroit10Single-Tip-Column-Column1
{
	width: 95%;
}

.TableStyle-Adroit10Single-Tip-HeadI-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-HeadI-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-HeadE-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-HeadE-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-HeadF-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-HeadF-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-HeadH-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-HeadH-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-HeadD-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-HeadD-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-HeadC-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-HeadC-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-HeadB-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-HeadB-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-HeadA-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-HeadA-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-HeadG-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-HeadG-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-FootI-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-FootI-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-FootE-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-FootE-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-FootF-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-FootF-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-FootH-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-FootH-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-FootD-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-FootD-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-FootC-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-FootC-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-FootB-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-FootB-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-FootA-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-FootA-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-FootG-Column1-
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-FootG-Column1- p
{
	
}

.TableStyle-Adroit10Single-Tip-Body-Body1
{
	
}

.TableStyle-Adroit10Single-Tip-BodyI-Column1-Body1
{
	background-color: #f1faf5;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Tip-BodyE-Column1-Body1
{
	background-color: #f1faf5;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Tip-BodyF-Column1-Body1
{
	background-color: #f1faf5;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Tip-BodyH-Column1-Body1
{
	background-color: #f1faf5;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Tip-BodyD-Column1-Body1
{
	background-color: #f1faf5;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Tip-BodyC-Column1-Body1
{
	background-color: #f1faf5;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Tip-BodyB-Column1-Body1
{
	background-color: #f1faf5;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Tip-BodyA-Column1-Body1
{
	background-color: #f1faf5;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Tip-BodyG-Column1-Body1
{
	background-color: #f1faf5;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Tip-BodyG-Column1-Body1 p
{
	
}


