/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Adroit10Single-Note;
	border-collapse: collapse;
	max-id: 6;
	border-spacing-y: 0;
	border-spacing-x: 0;
	cell-padding-left: 50px;
	cell-padding-top: 20px;
	cell-padding-bottom: 20px;
	margin-left: 10px;
	cell-padding-right: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	vertical-align: top;
	text-align: left;
	type: Header;
	size: 95%;
	cell-padding-right: 100px;
	cell-padding-left: 50px;
	cell-padding-top: 15px;
	cell-padding-bottom: 15px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	name: Header1;
	id: 2;
	background-color: #a9a9a9;
	text-align: left;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	name: Body1;
	id: 1;
	vertical-align: top;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	text-align: left;
	background-color: #edf5fb;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Adroit10Single-Note
{
	border-collapse: collapse;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Adroit10Single-Note-Column-Column1
{
	width: 95%;
}

.TableStyle-Adroit10Single-Note-Head-Header1
{
	
}

.TableStyle-Adroit10Single-Note-HeadI-Column1-Header1
{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10Single-Note-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Adroit10Single-Note-HeadE-Column1-Header1
{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Adroit10Single-Note-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Adroit10Single-Note-HeadF-Column1-Header1
{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Adroit10Single-Note-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Adroit10Single-Note-HeadH-Column1-Header1
{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10Single-Note-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Adroit10Single-Note-HeadD-Column1-Header1
{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Adroit10Single-Note-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Adroit10Single-Note-HeadC-Column1-Header1
{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10Single-Note-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Adroit10Single-Note-HeadB-Column1-Header1
{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10Single-Note-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Adroit10Single-Note-HeadA-Column1-Header1
{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10Single-Note-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Adroit10Single-Note-HeadG-Column1-Header1
{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #a9a9a9;
}

.TableStyle-Adroit10Single-Note-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Adroit10Single-Note-Foot-Footer1
{
	
}

.TableStyle-Adroit10Single-Note-FootI-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Adroit10Single-Note-FootE-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Adroit10Single-Note-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Adroit10Single-Note-FootF-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Adroit10Single-Note-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Adroit10Single-Note-FootH-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Adroit10Single-Note-FootD-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Adroit10Single-Note-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Adroit10Single-Note-FootC-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Adroit10Single-Note-FootB-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Adroit10Single-Note-FootA-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Adroit10Single-Note-FootG-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Adroit10Single-Note-Body-Body1
{
	
}

.TableStyle-Adroit10Single-Note-BodyI-Column1-Body1
{
	background-color: #edf5fb;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Note-BodyE-Column1-Body1
{
	background-color: #edf5fb;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Note-BodyF-Column1-Body1
{
	background-color: #edf5fb;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Note-BodyH-Column1-Body1
{
	background-color: #edf5fb;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Note-BodyD-Column1-Body1
{
	background-color: #edf5fb;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Note-BodyC-Column1-Body1
{
	background-color: #edf5fb;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Note-BodyB-Column1-Body1
{
	background-color: #edf5fb;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Note-BodyA-Column1-Body1
{
	background-color: #edf5fb;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Adroit10Single-Note-BodyG-Column1-Body1
{
	background-color: #edf5fb;
	text-align: left;
	vertical-align: top;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Adroit10Single-Note-BodyG-Column1-Body1 p
{
	
}


