/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableHead_InfoMapSteps;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-bottom-color: #000000;
	border-top-color: #c0c0c0;
	border-left-color: #c0c0c0;
	border-right-color: #c0c0c0;
	margin-top: 0px;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	background-color: #ffffff;
	name: Column1;
	id: 0;
	color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	background-color: #f8f8ff;
	vertical-align: top;
	text-align: left;
	name: Column2;
	id: 1;
	color: #000000;
}

mcTableHeadStyle
{
	span: 0;
	name: Header1;
	id: 4;
}

mcTableBodyStyle
{
	span: 1;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #808080;
	background-color: #ffffff;
	name: Body1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	background-color: #f5f5f5;
	name: Body2;
	id: 3;
}

mcTableFootStyle
{
	span: 0;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 5;
}


/* Cell Styles: */
 
.TableStyle-TableHead_InfoMapSteps
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #c0c0c0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-top: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-TableHead_InfoMapSteps-Column-Column1
{
	
}

.TableStyle-TableHead_InfoMapSteps-Column-Column2
{
	
}

.TableStyle-TableHead_InfoMapSteps-Head-Header1
{
	
}

.TableStyle-TableHead_InfoMapSteps-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-HeadI-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-HeadE-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-HeadF-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-HeadH-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-HeadD-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-HeadC-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-HeadB-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-HeadA-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-HeadG-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-HeadI-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-HeadE-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-HeadF-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-HeadH-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-HeadD-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-HeadC-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-HeadB-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-HeadA-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-HeadG-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-Foot-Footer1
{
	
}

.TableStyle-TableHead_InfoMapSteps-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-FootI-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapSteps-FootE-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapSteps-FootF-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-FootH-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapSteps-FootD-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-FootC-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-FootB-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-FootA-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-FootG-Column1-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-FootI-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapSteps-FootE-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapSteps-FootF-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-FootH-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapSteps-FootD-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-FootC-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-FootB-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-FootA-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-FootG-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-Body-Body1
{
	
}

.TableStyle-TableHead_InfoMapSteps-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyI-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyE-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyF-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyH-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyD-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyC-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyB-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyA-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyG-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyI-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyI-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyE-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyE-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyF-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyF-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyH-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyH-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyD-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyD-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyC-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyC-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyB-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyB-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyA-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyA-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyG-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyG-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-Body-Body2
{
	
}

.TableStyle-TableHead_InfoMapSteps-BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyI-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyE-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyF-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyH-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyD-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyC-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyB-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyA-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapSteps-BodyG-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyI-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyI-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyE-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyE-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyF-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyF-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyH-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyH-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyD-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyD-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyC-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyC-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyB-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyB-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyA-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyA-Column2-Body2 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapSteps-BodyG-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #f8f8ff;
}

.TableStyle-TableHead_InfoMapSteps-BodyG-Column2-Body2 p
{
	color: #000000;
}


