/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableHead_InfoMapMain;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-spacing-x: 0;
	border-spacing-y: 0;
	margin-top: 5px;
	max-id: 7;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-left-color: #808080;
	border-right-color: #808080;
	border-top-color: #808080;
	border-bottom-color: #808080;
}

mcTableColumnStyle
{
	span: 1;
	background-color: #ffffff;
	name: Column1;
	id: 0;
	vertical-align: top;
	font-weight: bold;
	color: #000000;
	size: 245px;
}

mcTableColumnStyle
{
	span: 1;
	background-color: #fafafa;
	vertical-align: top;
	text-align: left;
	name: Column2;
	id: 1;
	color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column3;
	color: #000000;
}

mcTableHeadStyle
{
	span: 0;
	name: Header1;
	id: 4;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #808080;
	background-color: #ffffff;
	name: Body1;
	id: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	vertical-align: top;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
}

mcTableFootStyle
{
	span: 0;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 5;
}


/* Cell Styles: */
 
.TableStyle-TableHead_InfoMapMain
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #808080;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #808080;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #808080;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 1px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-spacing: 0px 0px;
}

.TableStyle-TableHead_InfoMapMain-Column-Column1
{
	width: 245px;
}

.TableStyle-TableHead_InfoMapMain-Column-Column2
{
	
}

.TableStyle-TableHead_InfoMapMain-Column-Column3
{
	
}

.TableStyle-TableHead_InfoMapMain-Head-Header1
{
	
}

.TableStyle-TableHead_InfoMapMain-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadI-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadE-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadF-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadH-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadD-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadC-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadB-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadA-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadG-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadI-Column2-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadE-Column2-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadF-Column2-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadH-Column2-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadD-Column2-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadC-Column2-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadB-Column2-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadA-Column2-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadG-Column2-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadI-Column3-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadI-Column3-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadE-Column3-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadE-Column3-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadF-Column3-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadF-Column3-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadH-Column3-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadH-Column3-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadD-Column3-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadD-Column3-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadC-Column3-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadC-Column3-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadB-Column3-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadB-Column3-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadA-Column3-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadA-Column3-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadG-Column3-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-HeadG-Column3-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-Foot-Footer1
{
	
}

.TableStyle-TableHead_InfoMapMain-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-FootI-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapMain-FootE-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapMain-FootF-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-FootH-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapMain-FootD-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-FootC-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-FootB-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-FootA-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-FootG-Column1-Footer1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-FootI-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapMain-FootE-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapMain-FootF-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-FootH-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapMain-FootD-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-FootC-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-FootB-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-FootA-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-FootG-Column2-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootI-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootI-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootE-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapMain-FootE-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootF-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapMain-FootF-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootH-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootH-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootD-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TableHead_InfoMapMain-FootD-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootC-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootC-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootB-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootB-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootA-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootA-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootG-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-FootG-Column3-Footer1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-Body-Body1
{
	
}

.TableStyle-TableHead_InfoMapMain-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-BodyI-Column1-Body1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-BodyE-Column1-Body1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-BodyF-Column1-Body1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-BodyH-Column1-Body1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-BodyD-Column1-Body1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-BodyC-Column1-Body1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-BodyB-Column1-Body1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-BodyA-Column1-Body1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableHead_InfoMapMain-BodyG-Column1-Body1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-TableHead_InfoMapMain-BodyI-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-BodyI-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyE-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-BodyE-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyF-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-BodyF-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyH-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-BodyH-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyD-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-BodyD-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyC-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-BodyC-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyB-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-BodyB-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyA-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-BodyA-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyG-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #fafafa;
}

.TableStyle-TableHead_InfoMapMain-BodyG-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyI-Column3-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyI-Column3-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyE-Column3-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyE-Column3-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyF-Column3-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyF-Column3-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyH-Column3-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyH-Column3-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyD-Column3-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyD-Column3-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyC-Column3-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyC-Column3-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyB-Column3-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyB-Column3-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyA-Column3-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyA-Column3-Body1 p
{
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyG-Column3-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	color: #000000;
}

.TableStyle-TableHead_InfoMapMain-BodyG-Column3-Body1 p
{
	color: #000000;
}


